<!DOCTYPE html>
<html>
<head>
  <title>Logos | Login</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Login</h1>
  <form action="/auth/login" method="post">
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form><br /><br >
  <p> Don't Have an Account? </p><a href="/signup"><button type="button">Sign Up Now</button></a>
</body>
</html>