<!DOCTYPE html>
<html>
<head>
  <title>Logos | Login</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body onload="myFun()">
  <h3 id="message-body">{{message}}</h3>
  <h1>Login</h1>
  <form action="/auth/login" method="post">
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Login">
  </form><br />
    <span>Forgot Password? Click Here: </span><a href="/forgot-password"><input type="button" value="Forgot Password"></a>
<br /><br >
  <p> Don't Have an Account? </p><a href="/signup"><button type="button">Sign Up Now</button></a>

  <script>
    let tId =  document.getElementById("message-body");
    function myFun() {
      if(tId.innerText == "{{message}}"){
        tId.innerHTML = "Welcome, Hyper!"
      }else console.log('err, not equal.')
  alert("Page is loaded");
}
  </script>
</body>
</html>