<!DOCTYPE html>
<html>
<head>
  <title>Logos | Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form id="reset-password-form">
    <input type="hidden" id="token" name="token">
    <input type="password" name="newPassword" placeholder="New Password" required>
    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
    <button type="submit">Update Password</button>
    <div id="message"></div>
  </form>

  <script>
function validatePassword(password) {
  const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,128}$/;
  return passwordRegex.test(password);
}

    document.addEventListener('DOMContentLoaded', (event) => {
       const url = window.location.href;
const token = url.split('/').pop().trim();
console.log('Token from URL:', token);
document.getElementById('token').value = token;

        document.getElementById('reset-password-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const token = document.getElementById('token').value;
            console.log('Token from form:', token);
            if (!token) {
                document.getElementById('message').innerHTML = 'Token is missing!';
                return;
            }

            const newPassword = document.querySelector('input[name="newPassword"]').value;
            const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;
            if (newPassword !== confirmPassword) {
                document.getElementById('message').innerHTML = 'Passwords do not match!';
                return;
            }
            if (!validatePassword(newPassword)) {
                document.getElementById('message').innerHTML = 'Password does not meet requirements!';
                return;
            }

            try {
                const response = await fetch('/auth/update-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ token, newPassword, confirmPassword }),
                });

                if (!response.ok) {
                    throw new Error(await response.text());
                }

                const result = await response.json();
                console.log(result);
                document.getElementById('message').innerHTML = result.message;
            } catch (err) {
                console.error(err);
                document.getElementById('message').innerHTML = 'Error updating password!';
            }
        });
    });
</script>
</body>
</html>