<!DOCTYPE html>
<html>
<head>
  <title>Logos | Signup</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Signup</h1>
  <form action="/auth/signup" method="post">
    <label>Username:</label>
    <input type="text" name="username"><br><br>
    <label>Email:</label>
    <input type="email" name="email"><br><br>
    <label>Password:</label>
    <input type="password" name="password"><br><br>
    <input type="submit" value="Signup">
  </form>
<br />
  <p>Have an Account? </p><a href="/login"><button type="button">Login Here!</button></a>
</body>
</html>