<!DOCTYPE html>
<html>
<head>
  <title>Logos Home |Success</title>
</head>
<body>
  <!-- <h1>Logged in successfully</h1> -->
  <h1>{{message}}</h1>
  <br />
  <section>
    <h3>Hye there, {{username}}!</h3>
    <h4>Your Mail: {{email}}.</h4>
  </section>

  <br/><br/> 
  <p>Don't Have An Account? </p><a href="/signup"><button type="button">Register Now</button></a>
  <br/>
  <form style="margin: 20px 0;" action="/auth/logout" method="post">
    <span style="font-weight: bold;">Already bored? </span><button type="submit">Log-Out Here</button>
  </form>

</body>
</html>